---
import { NotesList } from '../components/NotesList';
import { ProtectedLayout } from '../components/ProtectedLayout';
import Layout from '../layouts/Layout.astro'
---

<Layout title="Notepad">
    <main>
        <ProtectedLayout client:load>
            <NotesList client:load/>
        </ProtectedLayout>
    </main>
</Layout>
