---
import { Register } from '../../components/Register';
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Notepad">
    <main>
        <div class="min-h-screen flex justify-center items-center">
            <Register client:load />
        </div>
    </main>
</Layout>
